<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <h1>ye to web page hai</h1>

    <!-- by default ye get method hit krta isliye  method post dena hota  -->
    <form action="get-form-data" method="post">
      <input type="text" placeholder="enter username " name="username " />

      <input type="text" placeholder="enter email" name="email" />

      <input type="password" placeholder="enter password " name="pasword" />

      <button>submit</button>
    </form>

    <!-- agr file kisi ke uder hoga to path dena padega like /assests/index.js -->
    <script src="index.js"></script>
  </body>
</html>
